<table class="table-container">
    <thead>
        <tr class="columns">
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Creation Date</th>
            <th>IsActive</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of pagedData">
            <td>{{item.userId}}</td>
            <td>{{item.username}}</td>
            <td>{{item.email}}</td>
            <td>{{item.creationDate | date}}</td>
            <td>{{item.isActive}}</td>
            <td>
                <app-button [buttonText] = "'Delete'" [id]= "item.userId" (onButtonClick)= "handleDeleteClick($event)"></app-button>
                <app-button [buttonText]="'Edit'" [id]= "item.userId" (onButtonClick)="handleEditClick($event)"></app-button>

            </td>
        </tr>
    </tbody>
</table><hr>

<a class="addButton" [routerLink]="'/useradd'"><button >Add User</button></a>

<form class="edit" *ngIf="editMode">  
    <label for="username">Username</label>
    <input type="text" [(ngModel)]="username" name= "username">
    <label for="email">Email</label>
    <input type="email" [(ngModel)]="email" name= "username">
    <label for="creationDate">Creation Date</label>
    <input type="date" [(ngModel)]="creationDate" name= "username">
    <label for="isActive">User Activation State</label>
    <select [(ngModel)]="isActive" name="isActive">
        <option [value]="true">Active</option>
        <option [value]="false">Deactive</option>
    </select>
    <div class="buttons">
       <button (click)="handleSaveClick()" type="button" class="save">Save</button>
       <button (click)="handleCancelClick()" type="button" class="cancel">Cancel</button>
    </div>

</form>

<div class="pagination" *ngIf="totalPages > 0">
    <button [disabled]="currentPage === 1" (click)="previousPage()">&lt;</button>
    <span class="pageNumber">{{ currentPage }}</span>
    <button [disabled]="currentPage === totalPages" (click)="nextPage()">&gt;</button>
</div>


