.category-card {
    font-family: var(--primaryFont);
}

.edit {
    margin-top: 10px;
}

.edit-btn,
.return {
    background-color: royalblue;
    font-family: var(--primaryFont);
    font-weight: 800;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;  
}

.save,
.cancel {
    background-color: royalblue;
    font-family: var(--primaryFont);
    font-weight: 800;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;  
}
