<head>
<title></title>
<style>
  
  h1 {
    color: darkslategray;
    font-size: 24px;
  }
  
  p {
    color: black;
    font-size: 16px;
    width: 400px;
    text-align: justify;
    margin: 10px;
  }

  .container {
    font-size: 15px;
    font-family: var(--primaryFont);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 82vh;
      text-align: center;
      border: 2px solid rgb(3, 95, 170);
      padding: 5px;
    }

</style>
</head>
<body>
    <div class="container">
        <h1>Blog Management'a Hoş Geldiniz</h1>
        <p>Bu proje bir blog yönetim sistemi olarak tasarlanmıştır. 
        Uygulamamızda kullanıcı listesi(User List), gönderi listesi(Post List), 
        kategori listesi(Category List) ve yorum listesi(Comment List) için olmak üzere 
        4 listeleme sayfası bulunmaktadır. Yukarıda sıralanan sayfaların üstüne tıklayarak 
        ilgili sayfaya ulaşabilirsiniz. Sayfalardaki verileri inceleyebildiğiniz gibi verilere 
        ekleme ve çıkarmada da bulunabilirsiniz.</p>
    </div>
</body>
